@import url("/css/vendor/font-awesome/css/fontawesome-all.min.css");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:active, a:visited {
  color: inherit;
}
input, textarea {
  font-family: inherit;
}
